<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script type="text/javascript" src="/static/script.js"></script>
        <!-- the socket.io library is used to connect to the ws endpoints on the server -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
        </script>
    </head>

    <body>
        <a href="/">Back to the main page</a>
        <h1>The messages for user {{user.nickname}} ({{user.name}})</h1>
        <table id="messages">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody
            {% for message in messages %}
                <tr>
                    <td>{{message.date}}</td>
                    <td>{{message.author.nickname}}</td>
                    <td>{{message.recipient.nickname}}</td>
                    <td>{{message.content}}</td>
                </tr>
            {% endfor %}
        </table>
        <form id="send-form" action="/api/messages" method="post">
            <input type="hidden" name="author_id" value="{{user.id}}">
            <label for="recipient">Recipient:</label>
            <select name="recipient_id">
                {% for recipient in users %}
                    {% if user.id != recipient.id %}
                        <option value="{{recipient.id}}">{{recipient.nickname}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="text" id="message" name="content">
        </form>
    </body>
</html>
