# Chat App step by step (single column)

- [Back to top](/)

## step 00: the starter code

the starter code in step 00 is the basic Flask `hello world` app

```python app.py
!from ../app-00.py
```

{{AUTO}}

## conclusion

see the conclusion at the bottom of the [scrollycoding page](scrollycoding/)
