import Link from 'next/link'
import TableOfContents from '../components/tableofcontents'
import TableOfContentsItem from '../components/tableofcontentsitem'

<TableOfContents />

# Chat App step by step (single column)

<Link href="/">Back to top</Link>

please see the warning, as well as the code repo locations, at the top of the [scrollycoding page](scrollycoding/)

## step 00: the starter code

the starter code in step 00 is the basic Flask `hello world` app

```python app.py
!from ../app-00.py
```

{{AUTO}}

## conclusion

see the conclusion at the bottom of the [scrollycoding page](scrollycoding/)
